numpy==1.26.4
pandas==1.5.0
scikit-learn==1.7.2
pymatgen==2024.5.1
matplotlib==3.10.3
seaborn==0.13.2
tensorflow==2.15.1
modnet==0.4.5
requests==2.32.3
openpyxl==3.1.5
tqdm==4.4.0
scipy==1.15.3
crabnet==2.0.8
matminer==0.9.3
